body {
    background-color: white;
    text-align: center;
    display: block;
    justify-content: center;
}


.image{
    display: block;
    width: 60%;
    margin: auto;
     }


.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

h1 {
    font-size: 30px;
    color: #4682A9;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #91C8E4;
}